---
layout: base
---

{% set dateCreated = created | ISOString %}
{% set dateModified = page.date | ISOString %}

<article>
  <h1>{{ title }}</h1>
  <p>
    Published <time datetime="{{ dateCreated }}">{{ dateCreated }}</time>.
    {% if dateCreated !== dateModified %}
      Last modified <time datetime="{{ dateModified }}">{{ dateModified }}</time>.
    {% endif %}
  </p>
  {{ content | safe }}
</article>
