<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} • {{ pkg.author.name }}</title>
  <style>
    :root {
      --rhythm: 1.4;
      --padding: calc(var(--rhythm) * 1rem);
    }
    html {
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
      font-size: clamp(1rem, 2vw, 1.125rem);
      line-height: var(--rhythm);
    }
    body {
      display: grid;
      grid-template-columns: [full-start] 1fr [content-start] min(36rem, 100vw - 2*var(--padding)) [content-end] 1fr [full-end];
      margin: 0;
      padding: 0;
      row-gap: var(--padding);
    }
    a {
      color: #db0a5b;
    }
    a:hover {
      text-decoration: none;
    }
    body > footer,
    main {
      grid-column: content;
    }
    body > footer {
      border-top: 1px solid #666;
    }
    h1 {
      font-size: 2rem;
    }
    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
    ol,
    ul {
      padding-left: var(--padding);
    }
    .dated-list {
      list-style: none;
      padding: 0;
    }
    .dated-list time {
      padding-right: .5rem;
    }
    article {
      display: contents;
    }
    article > * {
      grid-column: content;
      margin: 0;
    }
    .gallery {
      display: grid;
      grid-column: full;
      grid-template-columns: [full-start] 1fr [content-start] min(36rem, 100vw - 2*var(--padding)) [content-end] 1fr [full-end];
      margin: 0;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;
    }
    .gallery-window {
      align-items: center;
      display: flex;
      gap: calc(var(--padding) / 2);
      grid-column: content;
    }
    .gallery-window:after {
      align-self: stretch;
      content: "";
      padding-inline-end: max(calc(var(--padding) / 2), (100vw - 36rem) / 2 - var(--padding) / 2);
    }
    .gallery picture {
      flex-shrink: 0;
      inline-size: 100%;
      max-inline-size: 90%;
      scroll-snap-align: center;
    }
    article p:first-of-type {
      color: #666;
      font-family: monospace;
      font-size: .8rem;
    }
    article > h1 {
      margin-top: calc(var(--padding) * 2);
    }
    article h2 {
      margin-top: var(--padding);
    }
    article hr {
      border: none;
      color: inherit;
      text-align: center;
    }
    article hr:after {
      content: "❦";
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --color-dark: #fefefe;
        --color-darker: #fff;
        --color-light: #111;
      }
    }
  </style>
  <link rel="canonical" href="{{ page.url | absoluteURL }}">
  <link rel="alternate" type="application/rss+xml" title="stephanmax.com RSS Feed" href="/feed.xml" >
</head>
<body>
  {{ content | safe }}

  <footer>
    <p><a href="/">Home</a></p>
    <p><code>@stephanmax</code> via <a rel="me" href="mailto:hello@stephanmax.com">Email</a> • <a rel="me" href="https://chaos.social/@stephanmax">Mastodon</a> • <a rel="me" href="https://github.com/stephanmax">Github</a></p>
    <p>Follow via <a href="/feed.xml">RSS</a></p>
  </footer>
</body>
</html>
