---
layout: base
---

<main>
  <header>
    <h1>{{ title }}</h1>
  </header>

  {{ content | safe }}

  <h2>Posts</h2>
  <ul class="dated-list">
    {% for article in collections.writing | reverse %}
    <li>
      <time datetime="{{ article.data.created | ISOString }}">{{ article.data.created | ISOString }}</time>
      <a href="{{ article.url }}">{{ article.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</main>
