:root {
  --color-dark: #333;
  --color-darker: #000;
  --color-light: #fefefe;
  --color-highlight: #ff8c32;
  --leading: 1.5;
  --ratio: 1.4;
  --scale-1: calc(1rem * var(--ratio));
  --scale-2: calc(1rem * var(--ratio) * var(--ratio));
  --space-05: calc(0.5rem * var(--leading));
  --space-1: calc(1rem * var(--leading));
  --space-2: calc(2rem * var(--leading));
  --space-3: calc(3rem * var(--leading));
}
*, :after, :before {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}
* + * {
  margin-top: var(--space-1);
}

[href] {
  text-decoration-color: var(--color-highlight);
  text-decoration-thickness: .1em;
  transition: color 0.2s ease-in-out;
}
[href]:hover {
  color: var(--color-highlight);
}
[href]:visited {
  text-decoration-color: var(--color-dark);
}

html {
  color: var(--color-dark);
  font-family: georgia, serif;
  font-size: calc(1em + 0.5vw);
}
body {
  background-color: var(--color-light);
  line-height: var(--leading);
  margin: 0 auto;
  max-width: 55ch;
  padding: var(--space-2) var(--space-1);
}

address {
  font-style: normal;
}
dd {
  margin: 0;
  padding-left: var(--space-1);
}

article p:first-of-type {
  --enlarge: 1.1;
  color: var(--color-darker);
  font-size: calc(1rem * var(--enlarge));
  line-height: calc(var(--leading) / var(--enlarge));
}
article li + li {
  margin-top: var(--space-05);
}

h1 {
  font-size: var(--scale-2);
  line-height: calc((2 * var(--leading)) / (var(--ratio) * var(--ratio)));
  margin-bottom: var(--space-2);
}
h2 {
  font-size: var(--scale-1);
  line-height: calc(var(--leading) / var(--ratio));
  margin-top: var(--space-2);
}
h3,
dt {
  font-size: 1rem;
  font-variant: small-caps;
  line-height: var(--leading);
  text-transform: lowercase;
}

hr {
  border: none;
  font-size: var(--scale-1);
  line-height: calc(var(--leading) / var(--ratio));
  overflow: visible;
  padding: 0;
  text-align: center;
}
hr:after {
  content: "❦";
}

nav a {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: var(--space-1);
}

ul {
  list-style-type: circle;
}

.naked {
  text-decoration: none;
}

@media (min-width: 24em) {
  address dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: var(--space-2);
    row-gap: var(--space-05);
  }
  dd {
    padding: 0;
  }
  dt {
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-dark: #fefefe;
    --color-darker: #fff;
    --color-light: #111;
	}
}
